@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3">
    <h2>Itens</h2>
</div>

<div class="col-md-6 margin-top-20">
    <div class="input-group h2">
        <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>

<div class="col-md-3 margin-top-20">
    <a href="Home/Cadastro" class="btn btn-primary pull-right h2">Novo Item</a>
</div>

<div id="list" class="row margin-top-100">
    <div class="table-responsive col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Data de Criação</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1001</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>01/01/2015</td>
                    <td class="actions">
                        <a class="btn btn-success btn-xs" href="Home/Detalhe">Visualizar</a>
                        <a class="btn btn-warning btn-xs" href="Home/Cadastro">Editar</a>
                        <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>