@{
    ViewData["Title"] = "Não Encontrado";
    @model ItemViewModel
}
<h2 class="page-header">Item não encontrado</h2>

<hr />
<div id="actions" class="row">
    <div class="col-md-12">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">Voltar</a>
    </div>
</div>